<% layout('layouts/boilerplate') %> 
<div class="row">
    <h1 class="text-center">New Campground</h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds" method="POST">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" name="campground[title]" id="title">
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" name="campground[location]" id="location">
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">Image Url</label>
                <input class="form-control" type="text" name="campground[image]" id="image">
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">Campground Price</label>
                <div class="input-group mb-3">
                    <span class="input-group-text">$</span>
                    <input class="form-control" type="text" name="campground[price]" placeholder="0.00" aria-label="Amount (to the nearest dollar)">
                  </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" name="campground[description]" id="description"></textarea>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Add Campground</button>
            </div>
        </form>
        <a href="/campgrounds">All campgrounds</a>
    </div>
</div>